/* --- WIDGET CONTAINER --- */
#gippslander-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* ... all your CSS styles ... */
}
/* ... all the way to the end of the styles ... */
